body {
  background: url('backkk.avif') center/cover no-repeat; /* Replace 'your-background-image.jpg' with the actual file name of your background image */
  color: #cdd6f4;
  font-family: 'Inter';
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.gifs-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.gifs-container img {
  width: 48%;
}

.options {
  text-align: center;
}

p {
  font-size: 20px;
  color: #555;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 10px;
}

button:hover {
  background-color: #45a049;
}

#response {
  margin-top: 20px;
  font-size: 16px;
  color: #777;
}

}
